rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cardapio/{item}/{document=**} {
      allow read;
    }
  }
}